<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<include resource="org/springframework/boot/logging/logback/base.xml"/>-->
  <property name="LOG_PATH" value="C:/coke_micro_dev1"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger.%M - %msg%n
      </pattern>
    </encoder>
  </appender>

 <!--  <appender name="SAVE-TO-FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOG_PATH}/log.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
      </Pattern>
    </encoder>
  </appender> -->

	<appender name="SAVE-TO-FILE-PROD"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/rolling/config_service.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
      </Pattern>
    </encoder>

    <!-- Comment out rolling policies to test how the remaining one works -->

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>
        ${LOG_PATH}/archived/config_service.%d{dd-MM-yyyy}.log
      </fileNamePattern>
      <maxHistory>10</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <appender name="SAVE-TO-FILE"
            class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_PATH}/rolling/log.log</file>
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <Pattern>
        %d{dd-MM-yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M - %msg%n
      </Pattern>
    </encoder>

    <!-- Comment out rolling policies to test how the remaining one works -->

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!-- rollover daily -->
      <fileNamePattern>
        ${LOG_PATH}/archived/log.%d{dd-MM-yyyy}.log
      </fileNamePattern>
      <maxHistory>10</maxHistory>
      <totalSizeCap>100MB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <springProfile name="dev">
	  <root level="debug">
	    <appender-ref ref="STDOUT"/>
	    <appender-ref ref="SAVE-TO-FILE"/>
	  </root>
	
	  <logger name="com.ibm.coke.controller" additivity="false" level="debug">
	    <appender-ref ref="STDOUT"/>
	    <appender-ref ref="SAVE-TO-FILE"/>
	  </logger>
  </springProfile>

  <springProfile name="prod">
	  <root level="debug">
	    <appender-ref ref="STDOUT"/>
	    <appender-ref ref="SAVE-TO-FILE-PROD"/>
	  </root>
	
	  <logger name="com.ibm.coke.controller" additivity="false" level="debug">
	    <appender-ref ref="STDOUT"/>
	    <appender-ref ref="SAVE-TO-FILE-PROD"/>
	  </logger>
  </springProfile>
  



<!-- 
  <root level="debug">
  <root level="debug">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SAVE-TO-FILE"/>
  </root>
  
  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SAVE-TO-FILE"/>
  </root>

  <logger name="com.ibm.coke.controller" additivity="false" level="debug">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SAVE-TO-FILE"/>
  </logger>

  <logger name="org.springframework.boot.SpringApplication" level="debug">
  <appender-ref ref="STDOUT" />
  </logger> -->
</configuration>